/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
	--navbar-color: #ff0070;
	--accent-color: #ff0070;
	--heading-sections-color: #ff0070;
	--navbar-color-hover: #ff007066;
	--heading-color: #db00ff;
	--secondary-text-color: #000028;
	--main-text-color: #f1b2ce;
	--background-image: url('../images/cover-image-dark.png');
}

.theme-dark .page {
	/* Вам также нужно будет написать ряд подобных селекторов */
	background: var(--background-image);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
